<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="global-nav">
      <a class='app-name' href="/users">
      Home
      </a>
    </div>

  </div>
    {{{body}}}
  </body>
</html>
