<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="global-nav">
    <a class='app-name' href="/users">
      <div class="logo">
        <div class="logoWhite"></div>
        <div class="logoRed"></div>
        <div class="logoWhite"></div>
        <div class="logoRed"></div>
        <div class="logoRed"></div>
        <div class="logoRed"></div>
        <div class="logoWhite"></div>
        <div class="logoRed"></div>
        <div class="logoWhite"></div>
      </div>
    </a>
    <a class='app-name' href="/users">
    <div class='app-name'>
      care
    </div>
    </a>
  </div>

  </div>
  {{{body}}}
</body>

</html>