<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="global-nav">
    <a class='app-name' href="/users">
    <div class="logoContainer">
      <div class="logo">
        <div class="logoWhite"></div>
        <div class="logoRed"></div>
        <div class="logoWhite"></div>
        <div class="logoRed"></div>
        <div class="logoRed"></div>
        <div class="logoRed"></div>
        <div class="logoWhite"></div>
        <div class="logoRed"></div>
        <div class="logoWhite"></div>
      </div>
      <div class='app-name'>
        care
      </div>
    </div>
    </a>
  </div>

  </div>
  {{{body}}}
</body>

</html>