html, body {
  background-color: rgb(98, 139, 181);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #E3E1D6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

h3 {
  color: rgb(98, 139, 181);
  font-size: 40px;
  position: absolute;
  margin: 0;
}

/* logo */
.logo {
  height: 36px;
  width: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(98, 139, 181);
  padding: 2px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
}

.logoWhite {
  background: #E3E1D6;
  height: 12px;
  width: 12px;
}

.logoRed {
  background: rgb(98, 139, 181);
  height: 12px;
  width: 12px;
}

.app-name {
  font-size: 20px;
  color: rgb(98, 139, 181);
}

.global-nav {
  background-color:#E3E1D6;
  display: flex;
  flex-direction: row; 
  align-items: center;
  height: 50px;
  width: 100%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.nurseInfoBox {
  background-color:#E3E1D6;
  color: rgb(76, 124, 172);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  padding: 5px;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.patientInfoContainer {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #E3E1D6;
  color: rgb(98, 139, 181);
  width: 80vw;
}

h2 {
  color: rgb(98, 139, 181);
}

/*Bed design*/
.bedscontainer, .nursesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.nursesContainer {
  margin: 50px 0px 0px 0px;
}

.nurseIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 2px solid #E3E1D6;
  width: 270px;
  min-width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoRedNurseCenter {
  background: #E3E1D6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-y: visible;
  height: 90px;
  width: 90px;
}

.logoWhiteNurse {
  background: rgb(98, 139, 181);
  height: 90px;
  width: 90px;
}

.logoRedNurse {
  background: #E3E1D6;
  height: 90px;
  width: 90px;
}

.patientBed {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  height: 400px;
  border-radius: 25px;
  border: 2px solid #E3E1D6;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bedTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-radius: 25px;
}

.pillow {
  border: 1px solid #E3E1D6;
  width: 85px;
  height: 50px;
  background-color: #E3E1D6;
  border-radius: 5px;
}

.sheet {
  height: 20px;
  background-color: #E3E1D6;
}

.roomNumber {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

h6 {
  font-size: 50px;
  margin: 0px;
  color: #E3E1D6;
}

.patientBed:hover > * {
  background-color:rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}


.logoContainer {
  display: flex;
  align-items: center;
  margin: 3px 0px 3px 0px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-bottom: 2px solid  #E3E1D6;
}

.logoContainer:hover {
  border-bottom: 2px solid rgb(98, 139, 181)
}

/* form styling */

input[type=button], input[type=submit], input[type=reset] {
  background-color:  #E3E1D6;
  border: none;
  color: rgb(98, 139, 181);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=text], input[type=Number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color:  #E3E1D6;
  color:  rgb(98, 139, 181);
  outline: none;
  font-size: 20px
}

.cancelButton {
  background-color:  #E3E1D6;
  border: none;
  color: rgb(98, 139, 181);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton, .editButton {
  border: none;
  color: #E3E1D6;
  background-color: rgb(98, 139, 181);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton, .editButton {
  border: 1px solid #E3E1D6;
}

.editButtonContent, .deleteButtonContent {
  color: #E3E1D6;
  background-color: rgb(98, 139, 181);
}