<div class="formPages">

    <h1>Task Description:</h1>
    <div>
        <form action="/users/{{userId}}/patients/{{patient._id}}/tasks" method="POST">
            <div class="form-input">
                <label for="task">Task:</label>
                <input type="text" name="description" required/>
            </div>
            <div>
                <input class="button primary" type="submit" value="Add Task">
                <a href="/users/{{userId}}/patients/{{patient._id}}">Cancel</a>
            </div>
        </form>
    </div>
</div>