<div class="nursesContainer">
    {{#each users}}
    <a href="/users/{{this._id}}" class="link user-card">
        <div class="nurseIcon">
            <h3>
                {{this.name}}
            </h3>
        </div>
    </a>
    {{/each}}
    <div class="nurseIcon">
        <a href="/users/new">
            +
        </a>
    </div>
</div>