
<div class="nursesContainer">
    {{#each users}}
    <a href="/users/{{this._id}}">
    <div class="nurseIcon">
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoRedNurseCenter">
            <h3>{{this.name}}</h3>
        </div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
    </div>
    </a>
    {{/each}}
   
    <a href="/users/new">
    <div class="nurseIcon">
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoRedNurseCenter">
            <h3>Add a New Nurse</h3>
        </div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
    </div>
    </a>
</div>

