<div class="nursesContainer">
    {{#each users}}
    <div class="nurseIcon">
        <a href="/users/new"></a>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoRedNurseCenter">
            <h3>{{this.name}}</h3>
        </div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        </a>
    </div>
    {{/each}}
   

    <div class="nurseIcon">
        <a href="/users/new"></a>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoRedNurseCenter">
            <h3>Add a New Nurse</h3>
        </div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        <div class="logoRedNurse"></div>
        <div class="logoWhiteNurse"></div>
        </a>
    </div>
</div>

